# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production Builds
dist/
client/dist/

# Logs & Temporary Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Vercel & Antigravity Config
.vercel
.antigravity
